@model Gestion_Del_Presupuesto.Models.Centro_Costo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Centro</h1>

<h3>Estas seguro(a) que  quieres eliminar esto ?</h3>
<div>
    <h4>Centro_Costo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoAsignado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoAsignado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Presupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Presupuesto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Centro_Costo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
